# This template runs fully offline with local data (src/lib/data/seed.json).
# No environment variables are required to run or deploy this project.
#
# If you restore Google Sheets integration in the future, the following
# variables will be needed:
#
# SERVICE_ACCOUNT=<GOOGLE_SERVICE_ACCOUNT_JSON_AS_STRING>
# SPREADSHEET_ID=<GSHEETS_SPREADSHEET_ID>
# SHEET_MT_ID=<SHEET_MACROTERRITORY_ID>
# SHEET_TR_ID=<SHEET_TERRITORY_ID>
# SHEET_TI_ID=<SHEET_TIER_ID>
# SHEET_BD_ID=<SHEET_BRAND_ID>
# SHEET_PR_ID=<SHEET_PRODUCT_ID>
# PASSWORD=<ACCESS_PASSWORD>
